.bgrnd{
    background-color:dimgray;   
}
header{
    display: flex;
    padding: 17px;
    justify-content: space-around;
}
.grid{
    height: 100vh;
    display:grid;
    grid-template-rows: 100px 100px 100px 100px;
    grid-template-columns: 100px 100px 100px 100px 100px 100px;
    gap: 15px;
    align-content: center;
    justify-content: center;
    margin: auto;
}
.red{
    background-color: orangered;
    grid-column: 1/5;
    grid-row: 1/3;
}
.yellow{
    background-color: orange;
    grid-column: 5/7;
    grid-row: 1/3;
}
.green{
    background-color: mediumseagreen;
    grid-column: 1/4;
    grid-row: 3/5;
}
.top-blue{
    background-color: deepskyblue;
    grid-column: 4/7;
    grid-row: 3/4;
}
.btm-blue{
    background-color:deepskyblue;
    grid-column: 4/7;
    grid-row: 4/5;
}
.index{
    background-color:gold;
    border-radius: 40%;
    padding: .4em;
    width: 9rem;
    color:rgb(6, 138, 143);
    font-size: xx-large;
}
.index:hover{
    background-color: rgb(18, 95, 69);
    cursor: pointer;
    color: aliceblue;
}
@media (max-width: 500px) {
    body {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: auto;
        width: 90%;
    }
}